@import 'styles/colors';
@import 'styles/breakpoints';

//Main settings
.container {
	padding-top: 5px;

	&__active {
		background-color: $header-bg;
		border-radius: 4px;
		height: 75px;

		p {
			color: $darker;
		}
	}

	img {
		margin: 0 auto;
		border-radius: 25px;
		width: 40px;
	}

	p {
		text-align: center;
		font-size: 10px;
		margin: 5px;
		color: $darker-grey;
	}
}
