@import 'styles/colors';
@import 'styles/breakpoints';

//Main settings
.card {
	position: relative;
	z-index: 1;
	display: grid;
	place-content: center;
	width: 250px;
	height: 250px;
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;
	border-radius: 20px;
	overflow: hidden;
	cursor: pointer;

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 0;
		z-index: -1;
		width: 100%;
		height: calc(60% + 35px);
		background-color: white;
		transition: transform 500ms 250ms;
	}

	&::before {
		top: 0;
		clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
		transform: translateY(-100%);
	}

	&::after {
		bottom: 0;
		clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
		transform: translateY(100%);
	}

	h2 {
		color: #6a515e;
		margin-bottom: 15px;
	}

	&__body {
		opacity: 0;
		transition: opacity 250ms;
	}

	&:hover {

		&::before,
		&::after {
			transform: translateY(0);
		}
	}

	&:hover &__body {
		opacity: 1;
		transition-delay: 750ms;
	}
}