.name {
  font-size: 18px;
  color: #c2c2c2;
  text-align: center;
}

.container {
  margin: 10px;
}

.icon {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
  background-color: #333;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    width: 50px;
    height: 50px;
		margin: 10px auto;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.information {
  width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }

  p {
    margin-bottom: 10px;
    line-height: 1.5;
    color: #555;
  }

  a {
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
