.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 120px;
}

h2 {
	font-size: 48px;
	margin-bottom: 20px;
	color: #fff;
	text-shadow: 2px 2px 2px #333;
}

.description {
	text-align: center;
	margin-bottom: 40px;

	p {
		font-size: 24px;
		line-height: 1.5;
		color: #ccc;
		text-shadow: 1px 1px 1px #333;
	}
}

.story {
	text-align: center;
	margin-bottom: 40px;

	p {
		font-size: 24px;
		line-height: 1.5;
		color: #ccc;
		text-align: justify;
		text-shadow: 1px 1px 1px #333;
	}
}

.studies {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center; /* Center items horizontally */
	align-items: center; /* Center items vertically */
	
	@media (max-width: 768px) {
		max-width: 100%;
	}
}

@media (max-width: 768px) {
	.container {
		padding: 20px;
	}

	h2 {
		font-size: 36px;
	}

	.description p {
		font-size: 18px;
	}

	.story p {
		font-size: 18px;
	}
}