.projectsPage {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
	padding: 40px;

	@media screen and (max-width: 768px) {
		gap: 20px;
		padding: 20px;
	}
}

.category {
	flex-basis: 100%;
}

.projectList {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 20px;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.5s ease;

	@media screen and (max-width: 768px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-height: none;
		transition: none;
	}
}

.project {
	background-color: #f5f5f5;
	padding: 20px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	
	@media screen and (max-width: 768px) {
		width: 100%;
		max-width: 400px;
	}
}

.showProjects {
	max-height: auto;
}

.hideProjects {
	max-height: 0;
}

.projectPhoto {
	width: 100%;
	max-width: 280px;
	height: auto;
	border-radius: 4px;
	margin-bottom: 16px;
}

.projectName {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8px;
}

.projectDescription {
	margin-bottom: 16px;
}

.projectLink {
	color: #ffffff;
	background-color: #007bff;
	border: none;
	border-radius: 4px;
	padding: 8px 16px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	margin-top: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: #0056b3;
		text-decoration: none;
		border: none;
	}
}

.categoryContainer {
	display: flex;
	margin: 0 20px;
	max-width: fit-content;

	&:hover {

		.categoryTitle,
		svg {
			color: #007bff;
		}
	}

	.categoryTitle,
	svg {
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 20px;
		color: #f5f5f5;
		cursor: pointer;
		transition: color 0.5s ease;
	}

	svg {
		margin: 0 25px;
	}

	@media screen and (max-width: 768px) {
		margin: 0;
	}
}