@import 'styles/colors';
@import 'styles/breakpoints';

//Main settings
.studies {

	&__container {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		margin: 0 10px;
	}

	&__active {
		margin-bottom: 210px;
	}
}

.about {
	margin: 20px;

	p {
		color: $darker-grey;
		font-size: 14px;
	}
}

.tag {
	&__text {
		color: $tag-text;
	}

	&__symbol {
		color: $tag-symbol;
	}
}


//Tablet adjustments
@media (min-width: $tablet) {
	.main {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.about {
		p {
			font-size: 16px;
		}
	}
}

@media (min-width: $laptop) {
	
}