//Contain all the colors using in the project
$header-bg: #57575770;
$bg-darker: #1f1f1f;
$bg-lighter: #303030;
$header-menu-bg:#15191c;
$soft-grey: #eeeeee;
$darker-grey: #cccccc;
$darker-blue: #4217ff;
$main-blue: #6948ff;
$secundary-blue: #462bbe;
$btn-border: #eeeeee45;
$green: #247e00;
$rosa: #be86e3;
$roxo: #5d5aac;
$darker: #0f0f0f;
$tag-text: #3d88c4;
$tag-symbol: #677676;
