//Contain all the colors using in the project

$white: #FFFFFF;
$soft-grey: #eeeeee;
$darker-grey: #cccccc;
$bg-darker: #1f1f1f;
$bg-lighter: #303030;
$darker-blue: #4217ff;
$main-blue: #6948ff;
$secundary-blue: #462bbe;
$btn-border: #eeeeee45;
$header-bg: #57575770;
$header-menu-bg:#15191c;
$green: #247e00;