@import 'styles/colors';

//Main settings
.title {
	text-align: center;
	margin: 10px 0;
	font-size: 18px;
	font-weight: 700;
	color: $darker-grey;
}

.container {
	margin: 20px;

	@media screen and (min-width: 1920px) {
		margin: 100px 500px;
	}
}

.about_container {
	@media screen and (min-width: 1920px) {
		margin: 100px 500px;
	}
}