@import 'styles/colors.scss';
@import 'styles/breakpoints.scss';

//Main Settings
.home {
	text-align: center;
	color: $soft-grey;
	width: 100vw;
	height: 100vh;

	&__hello {
		display: flex;
		justify-content: center;
		margin: 20px 0;

		svg {
			margin: 2px 10px;
			animation: show 3s linear none 1;
		}
	}

	&__name {
		margin: 20px 0;

		strong {
			font-size: 1.4em;
			color: $main-blue;
		}
	}

	img {
		margin: 0 auto;
		width: 50%;
		animation: show 6s linear none 1;
	}

	&__profession {
		margin: 20px 0;
	}
}

//Tablet Adjustments
@media (min-width: $tablet) {
	.home {
		font-size: 1.5em;

		&__suggestion {

			svg {
				scale: 150%;
			}
		}
	}
}

//Laptop Adjustments
@media (min-width: $laptop) {
	.home {
		text-align: start;
		width: 90vw;

		&__hello {
			margin: 100px 0 0 150px;
			justify-content: start;
		}

		&__name {
			margin: 20px 0 0 150px;
		}

		&__profession {
			margin: 20px 0 0 150px;
		}

		img {
			position: absolute;
			right: 60px;
			top: 110px;
			width: 30%;
		}
	}
}

//FullHD Adjustments
@media (min-width: $fullHD) {
	.home {
		font-size: 2em;

		&__hello {
			margin: 150px 0 0 250px;
		}

		&__name {
			margin-left: 250px;
		}

		&__profession {
			margin-left: 250px;
		}

		img {
			top: 150px;
		}
	}
}

//WQHD Adjustments
@media (min-width: $WQHD) {
	.home {
		font-size: 3em;

		&__hello {
			margin: 250px 0 0 250px;
		}

		img {
			top: 250px;
		}
	}
}

//Animations Settings
@keyframes float {
	to {
		transform: translateY(-8px);
	}
}

@keyframes show {
	0% {
		opacity: 0%;
	}

	90% {
		opacity: 0%;
	}


	100% {
		opacity: 100%;
	}
}